:root {
	--main-background-color: hsl(233, 47%, 7%);
	--card-background: hsl(244, 38%, 16%);
	--Soft-violet: hsl(277, 64%, 61%);
	--slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
	--Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Inter', sans-serif;
	background-color: var(--main-background-color);
}
@media (min-width: 1200px) {
	.parent {
		width: 1120px;
	}
}
@media (max-width: 767px) {
	.parent {
		flex-direction: column-reverse;
		width: 330px;
		text-align: center;
	}
}

.parent {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	background-color: var(--card-background);
	border-radius: 8px;
	font-size: 15px;
}
.parent > div {
	flex-basis: calc(100% - 50px);
}
.info {
	padding: 60px;
	display: flex;
	flex-direction: column;
}
@media (max-width: 767px) {
	.info {
		padding: 30px;
	}
}
.main-title {
	margin: 0;
	font-size: 2.5em;
	color: white;
}
@media (max-width: 767px) {
	.main-title {
		font-size: 1.9em;
	}
}
.main-title span {
	color: var(--Soft-violet);
}
.text {
	max-width: 350px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 30px;
	gap: 30px;
}
.paragraph {
	color: var(--Slightly-transparent-white-stat-headings);
	line-height: 1.6;
	margin: 0;
}
.data {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
@media (max-width: 767px) {
	.data {
		flex-direction: column;
		gap: 40px;
	}
}
.data li {
	list-style-type: none;
}
.data li > span {
	display: block;
}
.data .number {
	font-size: 1.5em;
	color: white;
	font-weight: 700;
	margin-bottom: 5px;
}
.data .word {
	color: var(--Slightly-transparent-white-stat-headings);
	text-transform: uppercase;
}


.image {
	position: relative;
}
.image img {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	max-width: 100%;
	height: 100%;
}
.image::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: hsl(277deg 64% 61% / 50%);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
@media (max-width: 767px) {
	.image img {
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
		border-bottom-right-radius: 0;
	}
	.image::before {
		height: 98.5%;
	}
}